<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern> 
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>data2/logs/carstart/carstart.log</file>
		<!--  <file>/data2/logs/boot/boot.log</file>-->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/data2/logs/carstart/carstart.log.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			 <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>672</maxHistory>
		</rollingPolicy>
		<encoder><!-- 必须指定，否则不会往文件输出内容 -->
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</pattern>
		</encoder>
		<append>false</append>
		<prudent>false</prudent>
	</appender>
	
	<root level="ERROR">
		<!--<appender-ref ref="STDOUT" />-->
		<appender-ref ref="FILE" />
	</root>
</configuration>